/* Place custom styles below */
.container-businesscard {
   width: auto;
   float: left;
   margin-left: 10px;
   border: dashed;
}

.statuswrapper {
   width: 100%;
   clear:both;
   margin-top: 10px;
}

   .statuswrapper .image {
      position: relative;
      float: left;
   }

   .statuswrapper .status {
      position: relative;
      float: left;
      margin-left: 10px;
   }

.x-manager-uid, .x-is-manager, .x-profile-key, .uid, .x-profile-uid, .x-lconn-userid, .x-profile-type {
   display: none;
}

.followUser {

{
   cursor: pointer;
   cursor: hand;
}

}

h1 {
   color: #333;
   font-family: arial, sans-serif;
   margin: 1em auto;
   width: 80%;
}

.tabordion {
   top: 150px;
   color: #333;
   display: block;
   font-family: arial, sans-serif;
   margin: auto;
   position: relative;
   width: 80%;
}

   .tabordion input[name="sections"] {
      left: -9999px;
      position: absolute;
      top: -9999px;
   }

   .tabordion section {
      display: block;
   }

      .tabordion section label {
         background: #ccc;
         border: 1px solid #fff;
         cursor: pointer;
         display: block;
         font-size: 1.2em;
         font-weight: bold;
         padding: 15px 20px;
         position: relative;
         width: 180px;
         z-index: 100;
      }

      .tabordion section article {
         display: none;
         left: 230px;
         min-width: 300px;
         padding: 0 0 0 21px;
         position: absolute;
         top: 0;
      }

         .tabordion section article:after {
            background-color: #ccc;
            bottom: 0;
            content: "";
            display: block;
            left: -229px;
            position: absolute;
            top: 0;
            width: 220px;
            z-index: 1;
         }

   .tabordion input[name="sections"]:checked + label {
      background: #eee;
      color: #bbb;
   }

   .tabordion input[name="sections"]:checked ~ article {
      display: block;
   }


@media (max-width: 533px) {

   h1 {
      width: 100%;
   }

   .tabordion {
      margin-top: 50px;
      width: 100%;
   }

      .tabordion section label {
         font-size: 1em;
         width: 160px;
      }

      .tabordion section article {
         left: 200px;
         min-width: 270px;
      }

         .tabordion section article:after {
            background-color: #ccc;
            bottom: 0;
            content: "";
            display: block;
            left: -199px;
            position: absolute;
            top: 0;
            width: 200px;
         }
}


@media (max-width: 768px) {
   h1 {
      width: 96%;
   }

   .tabordion {
      width: 96%;
   }
}


@media (min-width: 1366px) {
   h1 {
      width: 70%;
   }

   .tabordion {
      width: 70%;
   }
}
