@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET + IBM Connections</h1>
   This example that allows you to browse your Connections information and the My Files.

   In order to start you'll need to @Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }).
</div>
